.pizzaContainer{
    display: flex;  
    background:  rgba(50, 50, 51, 0.6)
}

.pizzaTable{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.8); 
    color: #DBDBDB;
    font-family: "Open Sans",sans-serif;
    font-weight: 200;
    /* border: 3px solid #f1f1f1; */
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.dataRow{
    text-align: start;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.headRow{
    display: flex;
    background:  rgba(50, 50, 51, 0.6);
    padding: 1em!important;
    text-align: start;
}

.pizzaRow{
    display: flex;
    padding: 1em!important;
    text-align: start;
}

.tidy{
    flex :1
}

.orderRow{
    display: flex;
    text-align: start;
    border: solid 1px
}